body(class="modal")
  section
    form(action="addItem")
      header Add an item
      label What needs done ?
        input(
          type="text"
          name="label"
          placeholder="Pick the groceries..."
          required
        )
      input(type="submit" value="DO")
