body(class="modal")
  section
    form(action="removeItem")
      header Remove an item
      label Select
        select(
          name="idx"
          placeholder="Chose one..."
          required
        )
          each item, idx in state.items
            option(value=idx) #{item.label}
      input(type="submit" value="DELETE")
